<!DOCTYPE html>
<html lang="en">
  <head>
    <%- htmlPlugin.tags.headTags %>
    <script defer src="/static/js/variables.js"></script>
    <script nomodule src="/static/js/unsupportedImport.js"></script>
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://subzero.axisbank.com/fonts/lato.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
        rel="stylesheet"
        type="text/css"
      />
      <link
        href="https://subzero.axisbank.com/fonts/lato.css"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>
  </head>

  <body>
    <div id="<%= mountId %>"></div>
    <%- htmlPlugin.tags.bodyTags %>
  </body>
</html>
