html,
#app {
  background: var(--ds-color-surfaceBackground);
}

@keyframes bounce {
  0% {
    transform: matrix(2.428800106048584,0,0,2.428800106048584,491.30035400390625,444.7691650390625);
  }
  46%{
    transform: matrix(1.94304008484,0,0,2.428800106048584,491.30035400390625,874.132502441);
    animation-timing-function: cubic-bezier(0.00, 0.00, 0.85, 0.85);
  }
  50% {
    transform: matrix(2.428800106048584,0,0,1.94304008484,491.30035400390625,911.4684448242188);
    animation-timing-function: cubic-bezier(0.17, -0.16, 1.00, 1.00);
  }
  54% {
    transform: matrix(1.94304008484,0,0,2.428800106048584,491.30035400390625,874.132502441);
    animation-timing-function: cubic-bezier(0.00, 0.00, 0.20, 1.00);
  }
  100% {
    transform: matrix(2.428800106048584,0,0,2.428800106048584,491.30035400390625,444.7691650390625);
  }
}

@keyframes bounce-shadow {
  0% {
    transform: matrix(2.3200900554656982,0,0,1.152750015258789,491.7398681640625,911.4684448242188);
  }
  10% {
    transform: matrix(1.8560720443725587, 0, 0, 0.9222000122070313, 492.2038861751556, 911.237894821167);
  }
  20% {
    transform: matrix(1.3920540332794191, 0, 0, 0.6916500091552735, 492.66790418624873, 911.0073448181151);
  }
  30% {
    transform: matrix(0.9280360221862795, 0, 0, 0.4611000061035157, 493.13192219734185, 910.7767948150633);
  }
  40% {
    transform: matrix(0.4640180110931398, 0, 0, 0.23055000305175788, 493.59594020843497, 910.5462448120115);
  }
  50% {
    transform: matrix(1.1102230246251565e-16, 0, 0, 5.551115123125783e-17, 494.0599582195281, 910.3156948089597);
  }
  60% {
    transform: matrix(0.4640180110931398, 0, 0, 0.23055000305175788, 493.59594020843497, 910.5462448120115);
  }
  70% {
    transform: matrix(0.9280360221862795, 0, 0, 0.4611000061035157, 493.13192219734185, 910.7767948150633);
  }
  80% {
    transform: matrix(1.3920540332794191, 0, 0, 0.6916500091552735, 492.66790418624873, 911.0073448181151);
  }
  90% {
    transform: matrix(1.8560720443725587, 0, 0, 0.9222000122070313, 492.2038861751556, 911.237894821167);
  }
  100% {
    transform: matrix(2.3200900554656982, 0, 0, 1.152750015258789, 491.7398681640625, 911.4684448242188);
  }
}

#dot {
  transform: matrix(2.428800106048584,0,0,2.428800106048584,491.30035400390625,444.7691650390625);
  animation-name: bounce;
  animation-duration: 834ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.80, 0.00, 1.00, 1.00);
}

#shadow {
  transform: matrix(2.3200900554656982,0,0,1.152750015258789,491.7398681640625,911.4684448242188);
  animation-name: bounce-shadow;
  animation-duration: 834ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.80, 0.00, 1.00, 1.00);
}